html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
textarea,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
h1,
h2,
h3,
video{margin:0;padding:0;border:0;font:inherit;vertical-align:top;text-indent:0;font-family: 'Bernino Sans'; font-weight:300;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{display:block;}
span{vertical-align:baseline;}
body{display:block;}
ol,
ul{list-style:none;}
blockquote,
q{quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;color:inherit;}
html{width:100%;height:100%;font-family: 'Bernino Sans'; font-weight:300;}
html,
div,
span,
a{user-select:none;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;font-family: 'Bernino Sans'; font-weight:300;}
div::selection,
html::selection,
span::selection,
a::selection{background:transparent;font-family: 'Bernino Sans'; font-weight:300;}
div::-moz-selection,
html::-moz-selection,
span::-moz-selection,
a::-moz-selection{background:transparent;font-family: 'Bernino Sans'; font-weight:300;}