/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 40px 0 0 0;
	padding: 0;
	background: #171717 url(images/img1.gif) repeat-x;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #ADADAD;
}

form {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: lowercase;
	color: #FFFFFF;
}

a {
	color: #FF3366;
}

a:hover {
	text-decoration: none;
}

p, ul, ol, blockquote {
	text-align: justify;
}

/* Header */

#header {
	width: 700px;
	height: 248px;
	margin: 0 auto;
	margin-top: -45px;
	background: url(images/img2.png);
}

#logo {
	float: right;
	padding: 25px 25px 0 0px;
	margin-right: 110px;
	margin-top: 115px;
}

#logo h1 {
	letter-spacing: -4px;
	font-size: 3.2em;
}

#logo h2 {
	margin-top: -10px;
	text-align: right;
	font-size: 1em;
}

#logo a {
	text-decoration: none;
	color: #FF3366;
}

#menu {
	float: right;
	padding: 20px 70px 0 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	width: 125px;
	height: 20px;
	padding-left: 10px;
	background: url(images/img4.gif) no-repeat left center;
	border-top: 1px dotted #FF3366;
	text-transform: lowercase;
	text-decoration: none;
	color: #FF3366;
}

#menu .first a {
	border: none;
}

/* Content */

#content {
	width: 480px;
	margin: 0 auto;
	background: url(images/img3.gif) repeat-y;
}

/* Column One */

#colOne {
	margin: 0 15px;
}

#colOne .post {
	padding: 20px 30px 10px 30px;
	border-bottom: 1px dotted #FF3366;
}

#colOne .title {
	letter-spacing: -2px;
	font-size: 2em;
}

#colOne .posted {
	font-size: x-small;
}

/* Column Two */

#colTwo {
	margin: 0 10px;
	background: #000000 url(images/img6.gif) repeat-x;
}

#colTwo ul {
	margin: 0;
	padding: 40px 30px 0 30px;
	list-style: none;
}

#colTwo li {
	display: block;
	float: left;
	padding-left: 20px;
	width: 250px;
}

#colTwo li ul {
	padding: 0;
	padding-left: 10px;
	background-image: url(images/spacer.gif);
}

#colTwo li li {
	display: list-item;
	float: none;
	padding-left: 10px;
	background: url(images/img4.gif) no-repeat left center;
}

#colTwo h2 {
	font-size: 1.6em;
}

/* Footer */

#footer {
	width: 480px;
	margin: 0 auto;
	background: url(images/img8.gif) no-repeat;
}

#footer p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	font-size: x-small;
}