<!--S:Recover-->
Hello {USER_FIRST_NAME} {USER_LAST_NAME},
You have placed a request to recover your password for Administration Panel. Please click on the link below to receive your password on the e-mail account you signed up with.

{USER_LINK}index.php?mod=auth&sub=verify&key={USER_KEY}


If you haven't placed this request, please ignore this message, the link will expire in 48 hours.

This is an automated message, please don't reply.

Thank you.

<!--E:Recover-->

<!--S:Login-->
Hello {USER_FIRST_NAME} {USER_LAST_NAME},
Here are your login details :

Login : {USER_LOGIN}
Password : {PASS}

Click here to login : {USER_LINK}

This is an automated message, please don't reply.

Thank you.
<!--E:Login-->