div(style="position:absolute;left:0;top:0;height:2px;right:0;background:#D84C39;")
div(style="position:absolute;left:0;top:0;background:#1A1A1A;right:0;bottom:0;")
    div(style="position:absolute;left:0;width:250px;top:0;bottom:0;background:#252525;")
        div(class='border-box',style='padding:30px;height:auto;border-radius:3px;width:100%;')
            div(class='border-box',style='width:100%;height:100%;border-radius:3px;background:#D84C39;color:#FFF;font-weight:900;letter-spacing:1px;text-transform:uppercase;text-align:center;padding:12px;font-size:10px;cursor:pointer;') New Playlist
        div(class='border-box',style='padding:30px;padding-left:40px;padding-top:0;padding-bottom:0px;') 
            diV(style='display:inline-block;width:15px;height:15px;background:url(//mus.ec/assets/images/view.png) center center no-repeat; background-size:90%;')
            div(style='display:inline-block;width:40px;height:15px;color:#FFF;font-weight:500; font-size:12px;letter-spacing:1px;line-height:15px;margin-left:15px;') Home
        div(class='border-box',style='padding:30px;padding-left:40px;padding-top:0;padding-bottom:0px;margin-top:15px') 
            diV(style='display:inline-block;width:15px;height:15px;background:url(//mus.ec/assets/images/about.png) center center no-repeat; background-size:cover;opacity:0.2;filter:invert(100%);')
            div(style='display:inline-block;width:40px;height:15px;color:#555;font-weight:500; font-size:12px;letter-spacing:1px;line-height:15px;margin-left:15px;') Activity
        div(class='border-box',style='padding:30px;padding-left:40px;padding-top:0;padding-bottom:0px;margin-top:15px') 
            diV(style='display:inline-block;width:15px;height:15px;background:url(//mus.ec/assets/images/synchronize.png) center center no-repeat; background-size:cover;opacity:0.2;filter:invert(100%);')
            div(style='display:inline-block;width:40px;height:15px;color:#555;font-weight:500; font-size:12px;letter-spacing:1px;line-height:15px;margin-left:15px;') Synchronize
        div(class='border-box',style='padding:30px;padding-left:40px;padding-top:0;padding-bottom:0px;margin-top:15px') 
            diV(style='display:inline-block;width:15px;height:15px;background:url(//mus.ec/assets/images/activity.png) center center no-repeat; background-size:cover;opacity:0.2;filter:invert(100%);')
            div(style='display:inline-block;width:40px;height:15px;color:#555;font-weight:500; font-size:12px;letter-spacing:1px;line-height:15px;margin-left:15px;') Events
        div(style='margin-top:20px;width:100%;height:2px;background:;')
        div(class='border-box',style='padding:30px;padding-left:40px;padding-top:0;padding-bottom:0px;margin-top:20px') 
            diV(style='display:inline-block;width:15px;height:15px;background:#40b1d0;border-radius:100px;')
            div(style='display:inline-block;width:80px;height:15px;color:#888;font-weight:500; font-size:10px;letter-spacing:1px;line-height:15px;margin-left:15px;text-transform:uppercase') MKone-PC
        div(class='border-box',style='padding:30px;padding-left:40px;padding-top:0;padding-bottom:0px;margin-top:10px') 
            diV(style='display:inline-block;width:15px;height:15px;background:#88bd32;border-radius:100px;')
            div(style='display:inline-block;width:80px;height:15px;color:#888;font-weight:500; font-size:10px;letter-spacing:1px;line-height:15px;margin-left:15px;text-transform:uppercase') IPhone
        div(class='border-box',style='padding:30px;padding-left:40px;padding-top:0;padding-bottom:0px;margin-top:10px') 
            diV(style='display:inline-block;width:15px;height:15px;background:#ba9adf;border-radius:100px;')
            div(style='display:inline-block;width:80px;height:15px;color:#888;font-weight:500; font-size:10px;letter-spacing:1px;line-height:15px;margin-left:15px;text-transform:uppercase') Android
    div(style='position:absolute;left:250px;right:0;top:0;bottom:0;overflow:hidden;')
        div(id='section-left',style='position:absolute;left:0;right:408px;top:0;bottom:0;')
            div(id='playlist-focus',style='position:absolute;left:0;right:0;top:0;bottom:0;')
                div(style='position:absolute;left:0;right:0;top:0;height:50px;background:#333;')
                div(style='position:absolute;left:0;right:0;top:50px;bottom:0;background:#000;')
                    div(style='position:absolute;left:0;right:0;top:0;bottom:0;background:url(//mus.ec/assets/images/art/art8.png) top left no-repeat;background-size:200% 200%;opacity:0.4')
                    div(id='playlist-focus-art',style='height:320px;position:absolute;left:50px;top:195px;z-index:2;')
                        div(style='display:inline-block;height:100%;width:320px;box-shadow:0 0 100px rgba(0, 0, 0, 0.5);overflow:hidden;')
                            .animator(style='height: 100%; box-shadow: rgba(255, 255, 255, 0.0784314) 0px 0px 1px 1px inset; opacity: 1; background: url(http://i1.sndcdn.com/artworks-000040814493-eu3kr3-original.jpg?30a2558)  center center no-repeat;background-size:cover;')
                        div(style='position:asbolute;left:0;right:0;bottom:-40px;height:40px;')
                            div(style='height: 12px;font-size: 12px;font-weight:700;color:#FFF;letter-spacing:1px;width:100%;text-align:center;margin-top:15px;') WORKOUT
                            div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;width:100%;text-align:center;margin-top:5px;') Updated 15 hours ago
                    div.animator(style='height: 100%;position:absolute;left:0;width:100%;top:0;')
                        div.animator(style='overflow: hidden; background: #000; position: absolute; left: 0; top:0; width:100%; height:100%;')
                            div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background: url(//mus.ec/assets/images/art/art8.png) center top no-repeat; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')
                            div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 3;background:-moz-radial-gradient(top left, rgba(0,0,0,0), rgba(0,0,0,0.95) 75%);background:-ms-radial-gradient(top left, rgba(0,0,0,0), rgba(0,0,0,0.95) 75%);')
                    div(style='position:absolute;left:430px;right:50px;top:0;bottom:0;')
                        div(id='playlist-focus-list', style='height:auto;width:100%;')
                            div.ui-state-default(style="height: 60px;position:relative;")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div.ui-state-default(style="height: 60px;background:rgba(255,255,255,0.1);position:relative;border-radius:5px;")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div.ui-state-default(style="height: 60px;position:relative;border-bottom:1px solid rgba(255,255,255,0.08);")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div.ui-state-default(style="height: 60px;position:relative;border-bottom:1px solid rgba(255,255,255,0.08);")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div.ui-state-default(style="height: 60px;position:relative;border-bottom:1px solid rgba(255,255,255,0.08);")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div.ui-state-default(style="height: 60px;position:relative;border-bottom:1px solid rgba(255,255,255,0.08);")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div.ui-state-default(style="height: 60px;position:relative;border-bottom:1px solid rgba(255,255,255,0.08);")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div.ui-state-default(style="height: 60px;position:relative;border-bottom:1px solid rgba(255,255,255,0.08);")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div.ui-state-default(style="height: 60px;position:relative;border-bottom:1px solid rgba(255,255,255,0.08);")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div.ui-state-default(style="height: 60px;position:relative;")
                                .music-control-icon.icon.add-stroke.animator-100ms.transform-center(style='font-size:10px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
            div.animator(id='flow',style='position:absolute;left:0;right:-2px;top:0;bottom:0;z-index:10;background:#1A1A1A')
                div(style='position:absolute;left:0;right:0;top:0;height:50px;background:#FFF;box-shadow:0px 1px 1px rgba(0, 0, 0, 0.1);z-index:10;')
                    input(style='position:absolute;right:10px;top:9px;bottom:10px;width:197px;background:#999;height:auto;border:0; outline:0;height:28px;border-radius:100px;color:#FFF;font-size:12px;letter-spacing:0;font-weight:300;font-family:"Museo Sans";height: 21px;padding: 6px 12px 5px 12px',placeholder='Search')
                div(style='position:absolute;top:50px;bottom:0;left:0;right:0;')
                    div(style='position:absolute;left:0;right:0;height:50px;bottom:0;z-index:3;')
                        div(style='position:absolute;left:0;right:0;top:0;bottom:0;')
                    div(id='playlists',style='position:absolute;left:0;right:0;bottom:0;top:0;z-index:2;overflow:hidden;')
                        div.playlist(style='height: 500px;')
                            div(style='overflow: hidden; background: #000; position: absolute; left: 0; top:0; width:100%; height:100%;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background: url(http://musicforgood.tv/wp-content/uploads/2013/10/Linkin-Park1.jpg) center top no-repeat; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 3;background:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));background:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));')
                                div(style='position: absolute; bottom: 30px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 2px; color: #FFF; text-indent: 8px;text-align:left;font-size:30px;font-weight:100;font-family:"Proxima Nova";') Fall Out Boys
                                div(style='position: absolute; bottom: 5px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; opacity: 0.5; text-indent: 8px;text-align:left;font-weight:100;text-transform:uppercase;font-weight:500;') 35 Songs &middot; 6 Days ago
                        div.playlist(style='height: 316px;')
                            div(style='overflow: hidden; background: #000; position:absolute; left: 0; top:0; width:100%; height:100%;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background: url(http://media.4local.ru/uploads/posts/2013-08/1376424792_1111111111111111111111.jpg) center top no-repeat; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')                                
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 3;background:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));background:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));')
                                div(style='position: absolute; bottom: 30px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 2px; color: #FFF; text-indent: 8px;text-align:left;font-size:30px;font-weight:100;font-family:"Proxima Nova";') Sigur Ros
                                div(style='position: absolute; bottom: 5px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; opacity: 0.5; text-indent: 8px;text-align:left;font-weight:100;text-transform:uppercase;font-weight:500;') 35 Songs &middot; 6 Days ago
                        div.playlist(style='height: 65px;')
                            div(style='overflow: hidden; background: #000; position: absolute; left: 0; top:0; width:100%; height:100%;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background:#333; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')
                                div(style='position: absolute; bottom: 28px; left: 10px; right: 60px; height: 20px; line-height: 20px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; text-indent: 8px;text-align:left;font-size:12px;font-weight:500;font-family:"Proxima Nova";') What I've Done
                                div(style='position: absolute; bottom:15px; left: 10px; right: 60px; height: 20px; line-height: 20px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; opacity: 0.5; text-indent: 8px;text-align:left;font-weight:100;text-transform:uppercase;font-weight:700;') Linkin Park
                                div.icon.play(style='position: absolute; height:100%;width:50px;text-align:center;line-height:65px;top:0;right:0;z-index:3;color:#FFF;background:#D84C39;')
                        div.playlist(style='height: 200px;')
                            div(style='overflow: hidden; background: #000; position: absolute; left: 0; top:0; width:100%; height:100%;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background: url(http://www.fhhstoday.com/wp-content/uploads/2011/10/DavidGuettaPix.jpg) center top no-repeat; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 3;background:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));background:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));')
                                div(style='position: absolute; bottom: 30px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 2px; color: #FFF; text-indent: 8px;text-align:left;font-size:30px;font-weight:100;font-family:"Proxima Nova";') Coldplay
                                div(style='position: absolute; bottom: 5px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; opacity: 0.5; text-indent: 8px;text-align:left;font-weight:100;text-transform:uppercase;font-weight:500;') 35 Songs &middot; 6 Days ago
                        div.playlist(style='height: 500px;')
                            div(style='overflow: hidden; background: #000; position: absolute; left: 0; top:0; width:100%; height:100%;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background: url(http://fanart.tv/fanart/music/cc197bad-dc9c-440d-a5b5-d52ba2e14234/artistbackground/coldplay-4fc0c69c452a3.jpg) center top no-repeat; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 3;background:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));background:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));')
                                div(style='position: absolute; bottom: 30px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 2px; color: #FFF; text-indent: 8px;text-align:left;font-size:30px;font-weight:100;font-family:"Proxima Nova";') Coldplay
                                div(style='position: absolute; bottom: 5px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; opacity: 0.5; text-indent: 8px;text-align:left;font-weight:100;text-transform:uppercase;font-weight:500;') 35 Songs &middot; 6 Days ago
                        div.playlist(style='height: 316px;')
                            div(style='overflow: hidden; background: #000; position: absolute; left: 0; top:0; width:100%; height:100%;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background: url(http://allthingsgomusic.com/wp-content/uploads/2014/04/Drake-Smile-HD-Wallpaper.jpg) center top no-repeat; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 3;background:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));background:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));')
                                div(style='position: absolute; bottom: 30px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 2px; color: #FFF; text-indent: 8px;text-align:left;font-size:30px;font-weight:100;font-family:"Proxima Nova";') Drake
                                div(style='position: absolute; bottom: 5px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; opacity: 0.5; text-indent: 8px;text-align:left;font-weight:100;text-transform:uppercase;font-weight:500;') 35 Songs &middot; 6 Days ago
                        div.playlist(style='height: 65px;')
                            div(style='overflow: hidden; background: #000; position: absolute; left: 0; top:0; width:100%; height:100%;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background:#333; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')
                                div(style='position: absolute; bottom: 28px; left: 10px; right: 60px; height: 20px; line-height: 20px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; text-indent: 8px;text-align:left;font-size:12px;font-weight:500;font-family:"Proxima Nova";') What I've Done
                                div(style='position: absolute; bottom:15px; left: 10px; right: 60px; height: 20px; line-height: 20px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; opacity: 0.5; text-indent: 8px;text-align:left;font-weight:100;text-transform:uppercase;font-weight:700;') Linkin Park
                                div.icon.play(style='position: absolute; height:100%;width:50px;text-align:center;line-height:65px;top:0;right:0;z-index:3;color:#FFF;background:#D84C39;')
                        div.playlist(style='height: 316px;')
                            div(style='overflow: hidden; background: #000; position:absolute; left: 0; top:0; width:100%; height:100%;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background: url(https://res.cloudinary.com/talenthouse/image/upload/v1/invites-31/tgglgqwlxzcorlsoi2bi.jpg) center top no-repeat; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')                                
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 3;background:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));background:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));')
                                div(style='position: absolute; bottom: 30px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 2px; color: #FFF; text-indent: 8px;text-align:left;font-size:30px;font-weight:100;font-family:"Proxima Nova";') Sigur Ros
                                div(style='position: absolute; bottom: 5px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; opacity: 0.5; text-indent: 8px;text-align:left;font-weight:100;text-transform:uppercase;font-weight:500;') 35 Songs &middot; 6 Days ago
                        div.playlist(style='height: 500px;')
                            div(style='overflow: hidden; background: #000; position: absolute; left: 0; top:0; width:100%; height:100%;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; background: url(http://fanart.tv/fanart/music/cc197bad-dc9c-440d-a5b5-d52ba2e14234/artistbackground/coldplay-4fc0c69c452a3.jpg) center top no-repeat; z-index: 3; background-size: cover; box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.1);box-shadow:none;background-position:center center;')
                                div(style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 3;background:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));background:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));')
                                div(style='position: absolute; bottom: 30px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 2px; color: #FFF; text-indent: 8px;text-align:left;font-size:30px;font-weight:100;font-family:"Proxima Nova";') Coldplay
                                div(style='position: absolute; bottom: 5px; left: 10px; right: 10px; height: 45px; line-height: 46px; font-weight: 400; font-size: 8px; z-index: 5; uppercase; letter-spacing: 1px; color: #FFF; opacity: 0.5; text-indent: 8px;text-align:left;font-weight:100;text-transform:uppercase;font-weight:500;') 35 Songs &middot; 6 Days ago
        div(id='section-handle',style='position:absolute;right:400px;width:10px;background:#252525;height:100%;cursor:ew-resize;z-index:80;')
            div(style='position:absolute;top:50%;margin-top:-6px;left:3px;border-radius:30px;')
                div(style='width:4px;height:4px;background:#686868;border-radius:100%;margin-top:4px;')
                div(style='width:4px;height:4px;background:#686868;border-radius:100%;margin-top:4px;')
                div(style='width:4px;height:4px;background:#686868;border-radius:100%;margin-top:4px;')
        div(id='section-right',style='position:absolute;right:0;top:0;bottom:0;width:400px;background:#000;')
            div(style='position:absolute;left:0;right:0;top:0;bottom:0;')
                div(style='position:absolute;left:0;right:0;top:0;bottom:0;background:url(//mus.ec/assets/images/art/art4.png) top left no-repeat;background-size:cover;opacity:0.5;')
                div(style='position:absolute;left:0;right:0;top:0;background:-moz-linear-gradient(top, rgba(0,0,0,0) 50%, #111);background:-ms-linear-gradient(top, rgba(0,0,0,0) 50%, #111);;height:440px;top: 280px;height: 440px;background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);')
                div(style='position:absolute;height:440px;width:100%')
                    div(style='height:50px;background:rgba(0,0,0,0.5);width:100%;display:none;')
                        div(style='width:100%;text-align:center;color:rgba(255,255,255,0.8);text-transform:uppercase;letter-spacing:2px;font-weight:700;font-size:9px;line-height:50px;') Queue
                    div(style='height:220px;100%;margin-top:30px;text-align:center;')
                        div(style='display:inline-block;height:100%;width:220px;box-shadow:0 0 100px rgba(0, 0, 0, 0.5);overflow:hidden;')
                            .animator(style='height: 100%; box-shadow: rgba(255, 255, 255, 0.0784314) 0px 0px 1px 1px inset; opacity: 1; background: url(http://www.theyoungfolks.com/wp-content/uploads/2011/09/nothing-but-the-beat.jpg)  center center no-repeat;background-size:cover;')
                    div(style='height:30px;width:100%;margin-top:50px;')
                        div(style='width:100%;text-align:center;color:#FFF;letter-spacing:0;font-weight:500;font-size:12px;padding-top:3px;') What I've Done
                        div(style='width:100%;text-align:center;color:rgba(255,255,255,0.4);letter-spacing:0;font-weight:400;font-size:9px;padding-top:1px;') #Workout
                    div(style='width:100%;margin-top:0px;text-align:center;position:relative;height:30px;')
                        div(style='position:absolute;left:65px;right:65px;top:25px;height:2px;background:rgba(255,255,255,0.3);border-radius:4px;')
                        div(style='color:#FFF;font-size:9px;letter-spacing:1px;right:35px;position:absolute;top:21px;font-weight:500;') 3:35
                        div(style='color:rgba(255,255,255,0.3);font-size:9px;letter-spacing:1px;left:35px;position:absolute;top:21px;font-weight:500;') 1:35
                        div(style='position:absolute;left:65px;width:20%;top:25px;height:2px;background:#D84C39;border-radius:4px;')
                            div(style='position:absolute;right:-5px;height:11px;width:11px;border-radius:100%;background:#FFF;top:-5px;')
                    div(style='width:100%;margin-top:10px;text-align:center;position:relative;height:30px;text-align:center;font-size:0;')
                        div.music-control-icon.icon.prev.animator-100ms.transform-center(style='display:inline-block;color:#FFF;font-size:22px;width:40px;height:40px;line-height:43px;text-align:center;margin-top:10px;margin-right:5px;') 
                        div.icon.play.animator-100ms.transform-center(style='display:inline-block;color:#FFF;font-size:16px;width:40px;height:40px;line-height:40px;text-align:center;text-indent:4px;border:2px solid rgba(255,255,255,1);border-radius:100%;margin-top:10px;') 
                        div.music-control-icon.icon.next.animator-100ms.transform-center(style='display:inline-block;color:#FFF;font-size:22px;width:40px;height:40px;line-height:43px;text-align:center;margin-top:10px;margin-left:5px;') 
                div(style='position:absolute;top:440px;bottom:0;width:100%;background:#141414;')
                    div(style='width:100%;height:100%;')
                        div(style='width:100%;height:auto;')
                            div(style="height: 60px;background:rgba(255,255,255,0.05);position:relative;")
                                .music-control-icon.icon.close-fill.animator-100ms.transform-center(style='font-size:14px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')
                            div(style="height: 60px;position:relative;")
                                .music-control-icon.icon.close-fill.animator-100ms.transform-center(style='font-size:14px;height:100%;top:0;left:0;width:40px;color:#FFF;text-align:center;line-height:60px;')
                                div(style='height: 12px;top:18px;font-size: 12px;font-weight:300;left: 40px;color:#FFF;position:absolute;letter-spacing:1px;') Green Eyes
                                div(style='color: rgba(255,255,255,0.5);font-size: 8px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;top: 33px;left: 40px;position: absolute;') Coldplay
                                div(style='font-size: 10px;font-weight: 700;letter-spacing: 1px;color: #CCC;text-transform: uppercase;text-align: center;margin: 0px;position: absolute;right:40px;top: 25px;') 3:37
                                div.music-control-icon.icon.vmenu.animator-100ms.transform-center(style='color:#FFF;position:absolute;right:0;top:0;height:100%;width:10px;text-align:center;font-size:16px;line-height:61px;width:40px;')