						<tfoot>
							<tr>
								<td class="head"></td>
							</tr>
							<tr>
								<td>								
									<div>
										<a href="index.php?mod=auth&sub=profile">{USER_FIRST_NAME} {USER_LAST_NAME}</a>
										<span align="right">[{USER_LOGIN}]</span>
									</div>
									<p>
										<b>Last Login:</b> {STR_USER_LOG_LAST_LOGIN}<br>
										<b>IP address:</b> {USER_LOG_LAST_IP}
									</p>
								</td>
							</tr>
							<tr>
								<td class="foot"></td>
							</tr>
						</tfoot>