div(class='center-in-parent',style='position:relative;height:63px;width:80px;text-align:center;opacity:0.5;/*border-radius:10px;background:rgba(255,255,255,0.1);*/padding:10px;')
  div(style='height:30px;width:30px;background:url(assets/images/alert.png) center center no-repeat;background-size:50%;margin:0 auto;')
  div(style='line-height: 12px;color: #FFF;font-size: 10px;letter-spacing: 1px;font-weight: 400;') Add music to begin!