.border-box.file-item(style='width:100%;height:40px;position:relative;padding:12px;overflow:hidden;')
    .file-name {$m.name}
    .file-size {$m.size}
    .file-control-icon.file-delete.animator-100ms.transform-center
    .file-progress.animator-100ms(style='position:absolute;left:0;top;0;bottom:0;width:0%;height:100%;background:#12504E;z-index:1;')