.music-tile.song-list(id='{$m.id}', data-link="{$m.link}", data-sid='{$m._id}', data-pid='{$m.pid}',data-length-ms="{$m.lengthms}", data-length="{$m.length}")
    .music-control-icon.music-add.animator-100ms.transform-center
    .music-tile-title {$m.song}
    .music-tile-author {$m.artist}
    .music-tile-controls
      .music-tile-length {$m.length}