<?xml version="1.0" encoding="utf-8"?>
<config
	logoURL = "images/logo.png"
	mp3URL = "mp3/track.mp3"
	newslineName = "news"
	newslineXML = "xml/news.xml"
	mainMenuSelectedBackgroundColor = "0xFF0000"
	mainMenuSelectedTextColor = "0x410000"
	mainMenuMouseOverColor = "0x6A0F15"
	bannerRotatorWidth = "321"
	bannerRotatorHeight = "172"
	bannerRotatorBorderSize = "1"
	bannerRotatorBorderColor = "0x313131"
	bannerRotatorBackgroundColor = "0x000000"
	bannerRotatorSelectedButtonColor = "0xFF0000"
	bannerRotatorSelectedButtonTextColor = "0x4F0000"
	thumbnailDir = "images/thumbs/"
	photoDir = "images/"
	photoBorderSize = "4"
	thumbBorderColor = "0x313131"
	thumbBackgroundColor = "0x212121"
	portfolioPageItemBorderColor = "0x313131"
	portfolioPageItemBorderSize = "1"
	highlightColor = "0xFF0000"
	contentHolderTopMargin = "34"
	contentHolderLeftMargin = "42"
/>