div(class='animator',id='main-content',style='width:100%;height:100%;-webkit-transform:translate3d(0, 0, 0);overflow:auto;overflow:hidden;background:#000;')
  video(style='position:absolute;left:0;right:0;top:0;bottom:0;height:800px;', autoplay, loop)
    source(src="https://d1rk5ck21lz9pi.cloudfront.net/assets/videos/hero3.mp4" type="video/mp4")
  div(id='firstChild',style='height:780px;position:relative;background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 50%, transparent);background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.8) 50%, transparent);background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 50%, transparent);background: -linear-gradient(left, rgba(0, 0, 0, 0.8) 50%, transparent);')
    div(style="height:100px;width:100%;position:absolute;background: #FFF;")
      div(style="position:relative;width:900px;margin:0 auto;")
        div(style="color:#FFF;font-weight:700;font-size:12px;letter-spacing:2px; margin-right:40px;background:url('https://d1rk5ck21lz9pi.cloudfront.net/assets/images/logo-small.png');height:60px;width:60px;background-size:cover;background-repeat:no-repeat;position:relative;top:19px;margin:0 auto;")
        div(style="position:absolute;top:44px;left:90px;right:0;display:none;")
          div(style="color:#FFF;font-weight:700;font-size:12px;letter-spacing:2px; display:inline-block;margin-right:40px;") MUSIC
          div(style="color:#FFF;font-weight:700;font-size:12px;letter-spacing:2px; display:inline-block;margin-right:40px;") EVENTS
          div(style="color:#FFF;font-weight:700;font-size:12px;letter-spacing:2px; display:inline-block;margin-right:40px;") COMMUNITY
          div(style="color:#FFF;font-weight:700;font-size:12px;letter-spacing:2px; display:inline-block;margin-right:40px;") ABOUT
    div(style="position:relative;width:900px;margin:0 auto;")
      div(style="position:absolute;top:300px;")
        div(style="font-size:50px;color:#FFF;font-weight:400;width:400px;line-height:50px;") Because we stand for music!
        div(style="font-size:14px;color:#FFF;font-weight:300;width:500px;margin-top:25px;line-height:20px;") We have a simple user experience with no ads and no nonsense. <span style = "font-weight:500;color:#FFF;">Just your music at your convenience.</span> 
        div(id='create-new-user-button',style="color:#FFF;padding:20px 37px;color:#FFF;font-weight:700;letter-spacing:2px;font-size:12px;background:#18aeaa;border-radius:5px;display:inline-block;margin-top:25px;cursor:pointer;") START YOUR DRIVE
        div(id='login-button',class='border-box',style="color: #FFF;padding: 17px 37px;color: #FFF;font-weight: 700;letter-spacing: 2px; font-size: 12px;background: #18aeaa;border-radius: 5px;display: inline-block;margin-top: 25px;cursor: pointer;background: transparent;border: 3px solid rgba(255, 255, 255, 0.81);border-radius: 8px;margin-left: 10px;") LOGIN
  div(style='height:335px;background:-webkit-radial-gradient(center top, ellipse farthest-corner, #211f2d, #16151f);background-image:url("https://d1rk5ck21lz9pi.cloudfront.net/assets/images/muzzler server hero [b] 1.jpg");background-size:cover;background-repeat:no-repeat;position:relative;background-position:right center;')
    div(style="height:100%;position:relative;width:900px;margin:0 auto;")
      div(style="position:absolute;top:100px;")
        div(style="font-size: 28px;color: #145755;font-weight: 600;width: 600px;line-height: 30px;text-transform: uppercase;") Worldwide content delivery networks optimized for your music
        div(style="font-size:14px;color:#FFF;font-weight:300;width:500px;margin-top:10px;line-height:20px;") With the help of edge servers located around the world, our content will be delivered to you from the location closest to you - <span style = "font-weight:500;color:#FFF;"> allowing you to listen to your music, faster than ever.</span>
  div(style='height:400px;background:-webkit-radial-gradient(center top, ellipse farthest-corner, #211f2d, #16151f);background-image:url("https://d1rk5ck21lz9pi.cloudfront.net/assets/images/muzzler server hero [b] 2.jpg");background-size:cover;background-repeat:no-repeat;position:relative;background-position:right center;background:#111;')
    div(style="height:100%;position:relative;width:900px;margin:0 auto;height:100%;")
      div(style="position:absolute;top:0;right:0;left:50px;border-left:1px solid #333;bottom:0;background: -webkit-linear-gradient(left, #222, #111);background: -moz-linear-gradient(left, #222, #111);background: -ms-linear-gradient(left, #222, #111);background: -linear-gradient(left, #222, #111);")
        div(style="width: 127px;height: 20px;color: #444;position: absolute;left: -132px;top: 175px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;text-align:center;") How we work?
        div(style='width: 100%; height: 100px; position: relative;left:30px;margin-top:60px;')
          div(style='position: absolute; left: 20px; top: 10px; height: 45px; width: 45px; border: none; border-radius: 0; color: #FFF; text-align: center; line-height: 48px; text-indent: 0; font-weight: 700; opacity:0.5; background: url(https://d1rk5ck21lz9pi.cloudfront.net/assets/images/how/1.png) center center no-repeat; background-size: cover;')
          div(style='position: absolute; left: 100px; top: -5px; height: 45px; border-radius: 100%; color: #36A09D; text-align: center; line-height: 48px; text-indent: 0; font-weight: 700; letter-spacing: 1px;') UPLOAD
          div(style='position: absolute; left: 100px; top: 35px; height: 45px; color: #FFF; text-align: left; line-height: 18px; text-indent: 0; font-weight: 300; width: 500px; font-size: 13px;') Upload music via. our one-click system and start freeing up space on your computer. <span style = "font-weight:500;color:#FFF;">We start you off with 25 GB of free cloud space.</span>
        div(style='width:100%;height:100px;position:relative;left:30px;')
          div(style='position: absolute; left: 20px; top: 10px; height: 45px; width: 45px; border: none; border-radius: 0; color: #FFF; text-align: center; line-height: 48px; text-indent: 0; font-weight: 700; opacity:0.5; background: url(https://d1rk5ck21lz9pi.cloudfront.net/assets/images/how/2.png) center center no-repeat; background-size: cover;')
          div(style='position: absolute; left: 100px; top: -5px; height: 45px; border-radius: 100%; color: #36A09D; text-align: center; line-height: 48px; text-indent: 0; font-weight: 700; letter-spacing: 1px;') SYNCHRONIZE
          div(style='position: absolute; left: 100px; top: 35px; height: 45px; color: #FFF; text-align: left; line-height: 18px; text-indent: 0; font-weight: 300; width: 500px; font-size: 13px;') After uploading, your content is readily available across supported devices. Unlike other music services, there is almost no wait time to start listening to your music.
        div(style='width:100%;height:100px;position:relative;left:30px;')
          div(style='position: absolute; left: 20px; top: 10px; height: 45px; width: 45px; border: none; border-radius: 0; color: #FFF; text-align: center; line-height: 48px; text-indent: 0; font-weight: 700; opacity:0.5; background: url(https://d1rk5ck21lz9pi.cloudfront.net/assets/images/how/3.png) center center no-repeat; background-size: cover;')
          div(style='position: absolute; left: 100px; top: -5px; height: 45px; border-radius: 100%; color: #36A09D; text-align: center; line-height: 48px; text-indent: 0; font-weight: 700; letter-spacing: 1px;') STREAM
          div(style='position: absolute; left: 100px; top: 35px; height: 45px; color: #FFF; text-align: left; line-height: 18px; text-indent: 0; font-weight: 300; width: 500px; font-size: 13px;') Stream your own content whenever and wherever. Just login into your account and start listening.
  div(style='height:380px;background:-webkit-radial-gradient(center top, ellipse farthest-corner, #211f2d, #16151f);background-image:url("https://d1rk5ck21lz9pi.cloudfront.net/assets/images/muzzler server hero [a] 3.jpg");background-size:cover;background-repeat:no-repeat;position:relative;background-position:right center;')
    div(style="height:100%;position:relative;width:900px;margin:0 auto;")
      div(style="position:absolute;top:100px;right:0;text-align:center;left:0;")
        div(style="font-size: 26px;color: #36A09D;font-weight: 600;width: 600px;line-height: 30px;text-transform: uppercase;text-align:center;margin:0 auto;") Maximum security for all your content through encryption
        div(style="font-size:14px;color:#FFF;font-weight:300;width:500px;margin:0 auto;margin-top:10px;line-height:20px;text-align:center;") We use the state of the art technology and algorithms that factor in your IP Address, time limit, and other key details to provide links to content that <span style = "font-weight:500;color:#FFF;">only you can access.</span> For us, security is the number #1 priority.
        div(style="color:#FFF;padding:20px 37px;color:#FFF;font-weight:700;letter-spacing:2px;font-size:12px;background:#18aeaa;border-radius:5px;display:inline-block;margin-top:25px;cursor:pointer;", onclick="location.href='http://mus.ec/marketing'") MARKETING / HOW TO?
div(class='animator', id='dialog-bg-a', style ="display:none;position:absolute;height:100%;width:100%;top:0;left:0;z-index:9900;")
div(class='animator',id='dialog-0',style='width:400px;height:auto;margin:0 auto;margin-top:100px;border-radius:4px;overflow:hidden;box-shadow: 0 3px 7px rgba(0,0,0,0.3);-webkit-transform:translate3d(0, -200%, 0);-ms-transform:translate3d(0, -200%, 0);overflow:hidden;position:absolute;left:0;right:0;top:0;z-index:9901;')
  div(class='border-box',style='width:100%;background:#FFF;padding:20px;')
    div(class='border-box', style='width:100%;font-size:15px; color:#555;font-size:14px;font-weight:700;text-align:center;width:100%;text-transform:uppercase;letter-spacing:1px;') Sign up
    div(class='border-box', style='width:100%;font-size:15px; color:#555;font-size:12px;font-weight:300;text-align:center;width:100%;margin-top:10px;line-height: 15px;') Enter your email address to sign up for Mus.ec. You're just a few clicks away from managing your own music.
  div(class='border-box',style='width:100%;background:#2e2e2e;padding: 20px;')
    input(id='create-new-user-fname',class='animator-100ms border-box dialog-form-dark',style='width: 100%;max-width: 100%;height: 40px;', placeholder='First Name')
    input(id='create-new-user-lname',class='animator-100ms border-box dialog-form-dark',style='width: 100%;max-width: 100%;height: 40px;margin-top:10px;', placeholder='Last Name') 
    div(style='width:100%;height:1px;background:#444;margin-top:10px;border-top:1px solid #000;')
    input(id='create-new-user-email',class='animator-100ms border-box dialog-form-dark',style='width: 100%;max-width: 100%;height: 40px;margin-top:10px;', placeholder='Email')
    input(id='create-new-user-password',type='password',class='animator-100ms border-box dialog-form-dark',style='width: 100%;max-width: 100%;height: 40px;margin-top:10px;', placeholder='Password') 
    div(class='border-box', style='width:100%;position:relative;margin-top:20px;height:15px;') 
      div(class='toggle-box',id='create-new-user-agreement',data-selected='false',style='height:10px;width:10px;border:2px solid #888;position:absolute;left:5px;top:0;border-radius:2px;') 
      div(style='position:absolute;left:30px;top:1px;right:0;bottom:0;font-size:15px; color:#AAA;font-size:12px;font-weight:300;text-align:left;width:100%;line-height: 15px;') I agree to the <a style = "font-weight:500;color:#FFF;text-decoration:none;", href='terms', target="_blank">terms</a> and the <a style = "font-weight:500;color:#FFF;text-decoration:none;", href='privacy', target="_blank">privacy policy</a>.
  div(class='border-box',style='width:100%;padding:0 20px 20px 20px;background:#2e2e2e;display:none;')
    div(class='border-box',id='create-new-user-message',style='background:#171717;color:#AAA;font-size:9px;font-weight:700;text-align:left;width:100%;line-height: 11px;text-transform: uppercase;padding:12px;letter-spacing: 1px;border-radius:4px;')
  div(style='width:100%;height:50px;background:#222;color:#FFF;font-size:13px;font-weight:700;letter-spacing:1px;line-height:50px;text-align:center;')
    div(id='create-new-user-continue-button',style='width:100%;font-size:15px; color:#FFF;font-size:14px;background:#18aeaa;font-weight:700;text-align:center;width:100%;text-transform:uppercase;letter-spacing:1px;line-height:50px;height:50px;cursor:pointer;') Continue
div(class='animator',id='dialog-1',style='width:400px;height:auto;margin:0 auto;margin-top:100px;border-radius:4px;overflow:hidden;box-shadow: 0 3px 7px rgba(0,0,0,0.3);-webkit-transform:translate3d(0, -200%, 0);-ms-transform:translate3d(0, -200%, 0);overflow:hidden;position:absolute;left:0;right:0;top:0;z-index:9902;')
  div(class='border-box',style='width:100%;background:#FFF;padding:20px;')
    div(class='border-box', style='width:100%;font-size:15px; color:#555;font-size:14px;font-weight:700;text-align:center;width:100%;text-transform:uppercase;letter-spacing:1px;') Login
    div(class='border-box', style='width:100%;font-size:15px; color:#555;font-size:12px;font-weight:300;text-align:center;width:100%;margin-top:10px;line-height: 15px;') Need an account? Forgot your email and/or password?
  div(class='border-box',style='width:100%;background:#2e2e2e;padding: 20px;')
    input(id='login-email',class='animator-100ms border-box dialog-form-dark',style='width: 100%;max-width: 100%;height: 40px;', placeholder='Email')
    input(id='login-password',type='password',class='animator-100ms border-box dialog-form-dark',style='width: 100%;max-width: 100%;height: 40px;margin-top:10px;', placeholder='Password') 
  div(class='border-box',style='width:100%;padding:0 20px 20px 20px;background:#2e2e2e;display:none;')
    div(class='border-box',id='login-message',style='background:#171717;color:#AAA;font-size:9px;font-weight:700;text-align:left;width:100%;line-height: 11px;text-transform: uppercase;padding:12px;letter-spacing: 1px;border-radius:4px;')
  div(style='width:100%;height:50px;background:#222;color:#FFF;font-size:13px;font-weight:700;letter-spacing:1px;line-height:50px;text-align:center;')
    div(id='login-continue-button',style='width:100%;font-size:15px; color:#FFF;font-size:14px;background:#18aeaa;font-weight:700;text-align:center;width:100%;text-transform:uppercase;letter-spacing:1px;line-height:50px;height:50px;cursor:pointer;') Login