doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/prototype.typography.css')
    link(rel='stylesheet', href='https://d1rk5ck21lz9pi.cloudfront.net/stylesheets/prototype.reset.css.gz')
    link(rel='stylesheet', href='stylesheets/prototype.css')
    link(rel='stylesheet', href='https://d1rk5ck21lz9pi.cloudfront.net/stylesheets/qunit-git.css.gz')
    script(type='text/javascript', src='https://d1rk5ck21lz9pi.cloudfront.net/modules/jquery-2.1.0.packaged.min.js.gz')
    script(type='text/javascript', async, src='https://d1rk5ck21lz9pi.cloudfront.net/modules/stackblur.js.gz')
    script(type='text/javascript', src='https://d1rk5ck21lz9pi.cloudfront.net/modules/jsonfn.js.gz')
    script(type='text/javascript', src='https://d1rk5ck21lz9pi.cloudfront.net/modules/qunit-git.js.gz')
    script(type='text/javascript', src='https://d1rk5ck21lz9pi.cloudfront.net/modules/socket.io.js.gz')
    script(type='text/javascript', src='/modules/jquery.ui.widget.js')
    script(type='text/javascript', src='/modules/jquery.iframe-transport.js')
    script(type='text/javascript', src='/modules/jquery.fileupload.js')
    script(type='text/javascript', src='/modules/moment.min.js')
    //- MUI State Engine
    script(type='text/javascript', src='/modules/elixir.js')
    script(type='text/javascript', src='/modules/mui.js')
    //- Graphing
    script(type='text/javascript', src='/modules/Lyne.js')
  block content