extends layout

block content
    h1= title
    form#formChangePassword(name="changepw",method="post",action="/changepw")
        input#inputUserPass(type="text", placeholder="New password", name="newpass")
        br
        button#btnSubmit(type="submit") Submit
