extends layout

block content
    h1= title

    form#formAddUser(name="reset",method="post",action="/resetpw")
        input#inputUserEmail(type="text", placeholder="Nothing to put here", name="reset")
        button#btnSubmit(type="submit") Reset password