extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}" style="color:white")= user.email
    p
        a(href="/" style="text-decoration:none; font-size:14px")= 'Home'