* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -108px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 108px; /* .push must be the same height as .footer */
}