<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{PUB:SEO_TITLE}</title>
	<meta name="Description" content="{PUB:SEO_DESC}" />
	<meta name="Keywords" content="{PUB:SEO_KEYS}" />
	{PUB:OWNERSHIP-GOOGLE}{PUB:OWNERSHIP-YAHOO}{PUB:OWNERSHIP-MS}
	<base href="{PRIV.BASE.HREF}" />

	<script type="text/javascript" src="js/swfobject.js"></script>
	<script type="text/javascript" src="js/swfaddress-optimizer.js"></script>
	<script type="text/javascript" src="js/swfaddress.js"></script>
	<script>
		document.write("<link media=\"screen\" rel=\"stylesheet\" type=\"text/css\" href=\"css/embed.css\"  />");
	</script>
	<noscript>
		<link media="screen" rel="stylesheet" type="text/css" href="css/html-version.css"  />
	</noscript>

	<script>
		var OX_BASE_URL = "{PRIV.BASE.HREF}";

		function str_replace( r, w , s){
			 return s.split(r).join(w);
		}

		//detect the location
		if (window.location.href != OX_BASE_URL){
			
			if (window.location.href.indexOf("#") != -1){
				
			} else {
				var tmp = str_replace(OX_BASE_URL , "" , window.location.href);
				window.location = OX_BASE_URL + "#/" + tmp;
			}						
		}

	</script>

	<script>
		function oxybase_call_url(value){
			var status = {PUB:GOOGLE_ANALYTICS_STATUS};

			if (status == 1){			
				try {
					pageTracker._trackPageview(value);				
				} catch (e)	{}
			}
			
		}
	</script>
</head>
<body>
	{PUB:MAIN_SWF}
	<noscript>
	<div id="container">
		<center>
			<div id="header">
				<centeR>{PUB:TOP-MENU}</center>
				<div style="clear:both"></div>
			</div>
			<div id="content">
				{PB_EVENTS}

				<div style="clear:both"></div>
			</div>

			<div id="footer">
				<div id="footer-container">
					<div style="float:left">{PUB:COPYRIGHT}</div>
					<div style="float:right">
						<!-- here you can put your own text. edit it in templates/shared/layout.htm line 72 -->
						<a href="http://www.oxylusflash.com">OXYLUS Flash Components</a></div>
				</div>
				<div style="clear:both"></div>
			</div>
		</center>
	</div>
	</noscript>

	{PUB:GOOGLE_ANALYTICS}
</body>
</html>
